.list-group-item {
  line-height: 2.5;
}
.resultcss{
  background-color: black;
  color:gray;
}
.container {
  background-image: url('../images/runway6.jpg');
  background-position:bottom;
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  /* max-height: 640px; */
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 50px;
}

.survey-container {
  max-width: 1000px;
  height: 400px;
  padding: 10px;
  margin-left: 265px;
  background-color: black;
  font-family: 'Courgette', cursive;
  color: white;
  text-shadow: 2px 2px 6px whitesmoke;
  text-align: center;
  font-size: 24px;

}


.col-sm-12 {
  font-size: 38px;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  /* text-shadow: 2px 2px 6px black; */
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  
}
/* .col-md-12 {
  font-size: 30px;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  text-shadow: 2px 2px 6px black;
  text-align: center;
  margin-bottom: 10px;
   */
/* } */

.surveytitle {
  font-size: 30px;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  text-shadow: 2px 2px 6px black;
  text-align: right;
  margin-bottom: 15px;
  
}

header {
  background-image: url('../images/carpet1.jpg');
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  text-shadow: 2px 2px 6px black;
  font-size: 90px;
  text-align: center;
  height: 140px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 0px;
}

/* This is where banner slide in from right ------------------------- */

div.slide-left {
  width:100%;
  overflow:hidden;
}
div.slide-left header {
  animation: slide-left 2s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* End slide ---------------------------------- */


.seasonalcontainer {
  /* max-width: 1600px; */
  /* height: 100%; */
  margin: 0 auto;
  margin-top: 20px;
  font-size: 70px;
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  text-shadow: 5px 5px 9px black;
  border: 1px blue;
}

.springcontainer {
  background-image: url('../images/spring1.jpg');
  background-position: left;
/* background-size: cover; */
}

.summercontainer {
  background-image: url('../images/summer3.jpg');
  background-position: left;
background-size: cover;
background-repeat: no-repeat;
}

.autumncontainer {
  background-image: url('../images/autumn1.jpg');
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.wintercontainer {
  background-image: url('../images/winter1.jpg');
   
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
 
}


.resultspageoutercontainer{

  background-image: url('../images/plaid1.jpg');
  background-position: left; 
  height: 100%;

}


.resultspagecontainer {
  /* background-image: url('../images/finalpagebg1.jpg'); */
  background-color: cornflowerblue;
  background-position: left;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  max-width: 1200px;
  height: auto;
  /* margin: 0 auto; */
  /* margin-top: 130px; */
  margin-left: 150px;
  font-size: 50px;
  text-align: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  text-shadow: 5px 5px 9px black;
  padding: 30px;
}

.resultcss {
  font-family: 'Montserrat', sans-serif;
  background-color:cornflowerblue;
  color: white;
  font-size: 65px;
}

#resultspagecollege {
  font-size: 65px;
  text-shadow: 3px 3px 4px black;
}

.resultspageclothing {
  font-size: 45px;
  text-shadow: 3px 3px 4px black;
}

.normalfont{
  font-family: 'Montserrat', sans-serif;
  background-color: brown;
  color: white;
  font-size: 70px;
}

.brandselection {
  /* background-image: url('../images/palegreenbg.png') */
  /* background-color: rgb(97, 22, 235); */
    /* background-image: url('../images/runway4.jpg'); */
    /* background-position: center; */
    /* background-position: left; */
    /* background-size: cover; */
    max-width: 1300px;
    height:auto;
    max-height: 1300px;
    padding: 20px;
    margin-left: 108px;
    font-size: 20px;
}

.col-sm-3 {
text-align: center;
  font-size: 16px;
}

.top-section, .lower-section{
text-align: center; 
}
#label {
color: black;
font-size: 26px;
}

ul {
  font-size: 26px;
list-style-type: none;
margin-left: 36px;
padding: 50;

}